@font-face {
    font-family: 'IBM VGA 8x16';
    src: url(/fonts/WebPlus_IBM_VGA_8x16.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    color-scheme: dark;
    --font: 'IBM VGA 8x16';
    --text-primary: #ffffff;
    --text-secondary: #999999;
    --background: #000000;
    --primary: #222222;
    --accent: #00ff00;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: var(--background);
    color: var(--text-primary);
    font-family: var(--font);
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--text-secondary);
    text-decoration: underline;
}

footer {
    margin: 50px;
    text-align: center;
}

pre {
    font-family: var(--font);
    tab-size: 4;
    white-space: pre-wrap;
    line-height: 1.4;
}

code {
    background: var(--primary);
    padding: 16px;
    border-radius: 2px;
    border-left: 4px solid var(--accent);
    overflow: auto;
    display: inline-block;
    width: calc(100% - 36px);
    font-family: var(--font);
    color: var(--text-secondary);
}

code:hover {
    color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.text-blinking {
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.content {
    margin: auto;
}

.banner {
    margin: 50px;
    text-align: center;
}

.nav {
    margin: 25px;
    text-align: left;
}

.nav-right {
    float: right;
}

.nav-mobile {
    margin: 25px;
    text-align: center;
}

.nav-mobile-bottom {
    margin-top: 50px;
    text-align: center;
}

.nav a, .nav-right a, .nav-mobile a, .nav-mobile-bottom a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--text-primary);
}

.nav a:hover, .nav-right a:hover, .nav-mobile a:hover, .nav-mobile-bottom a:hover {
    text-decoration: underline;
    color: var(--text-secondary);
}

@media only screen and (max-width: 1007px){
    .content {
        width: 100%;
    }

    .nav, .nav-right {
        display: none;
    }
}

@media only screen and (min-width: 1008px){
    .content {
        width: 1008px;
    }

    .nav-mobile, .nav-mobile-bottom {
        display: none;
    }
}